<%- include("header.ejs",{title}) %>
    <h1 class="text-xl text-blue-500"> Upcoming sessions</h1>
    <br>

    <%- include('display_sessions.ejs',{data:upcoming_session}) %>
        <br><br>
        <a class="block" href="/sports/<%= sportId%>/new_session">create a new session</a>
        <a class="block" href="/sports/<%= sportId%>/previous_sessions">View previous sessions</a>
        </div>
        <% if (role==='admin' ) { %>
            <div class="col-start-6 col-span-2 py-5">
                <div class="grid-rows-6 row-start-2">
                    <a href="/sports/<%= sportId %>/edit" class="text-xl hover:hover:text-green-800">edit</a><br>
                    <a href="/sports/<%= sportId %>/delete" class="text-xl hover:hover:text-green-800">delete</a>
                </div>
            </div>
            <% } %>
                </div>
<%- include("footer.ejs") %>     